<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel = "stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css">
	<!--<link rel="shortcut icon" href="bitbug_favicon.ico" />-->
	<link rel="stylesheet" href="{% static 'main.css' %}"/>

</head>
<body>
	<div class="city-box">
		<div class="header">
			<div class="facedata">
				<img src="{% static 'facedata.png' %}"/>
			</div>
			<ul>
				<li>热门城市</li>
				<li><a href="">北京</a></li>
				<li><a href="http://127.0.0.1:8000/sh/number_count/">上海</a></li>
				<li><a href="http://127.0.0.1:8000/sz/number_count/">深圳</a></li>
			</ul>
		</div>
		<ul>
			<li>
				<div class="province">
					安徽
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/aq/number_count/" title="">安庆</a></li>
						<li><a href="http://127.0.0.1:8000/hf/number_count/" title="">合肥</a></li>
						<li><a href="http://127.0.0.1:8000/mas/number_count/" title="">马鞍山</a></li>
						<li><a href="http://127.0.0.1:8000/wuhu/number_count/" title="">芜湖</a></li>
					</ul>
				</div>
			</li>

			<li>
				<div class="province">
					重庆
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/cq/number_count/" title="">重庆</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					福建
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/fz/number_count/" title="">福州</a></li>
<!--						<li><a href="http://127.0.0.1:8000/ly/number_count/" title="">龙岩</a></li>-->
						<li><a href="http://127.0.0.1:8000/quanzhou/number_count/" title="">泉州</a></li>
						<li><a href="http://127.0.0.1:8000/xm/number_count/" title="">厦门</a></li>
						<li><a href="http://127.0.0.1:8000/zhangzhou/number_count/" title="">漳州</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					广东
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/dg/number_count/" title="">东莞</a></li>
						<li><a href="http://127.0.0.1:8000/fs/number_count/" title="">佛山</a></li>
						<li><a href="http://127.0.0.1:8000/gz/number_count/" title="">广州</a></li>
						<li><a href="http://127.0.0.1:8000/hui/number_count/" title="">惠州</a></li>
						<li><a href="http://127.0.0.1:8000/jiangmen/number_count/" title="">江门</a></li>
						<li><a href="http://127.0.0.1:8000/qy/number_count/" title="">清远</a></li>
						<li><a href="http://127.0.0.1:8000/sz/number_count/" title="">深圳</a></li>
						<li><a href="http://127.0.0.1:8000/zh/number_count/" title="">珠海</a></li>
						<li><a href="http://127.0.0.1:8000/zhanjiang/number_count/" title="">湛江</a></li>
						<li><a href="http://127.0.0.1:8000/zs/number_count/" title="">中山</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					贵州
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/gy/number_count/" title="">贵阳</a></li>
						
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					广西
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/bh/number_count/" title="">北海</a></li>
						<li><a href="http://127.0.0.1:8000/gl/number_count/" title="">桂林</a></li>
						<li><a href="http://127.0.0.1:8000/liuzhou/number_count/" title="">柳州</a></li>
						<li><a href="http://127.0.0.1:8000/mas/number_count/" title="">马鞍山</a></li>
						<li><a href="http://127.0.0.1:8000/nn/number_count/" title="">南宁</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					甘肃
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/lz/number_count/" title="">兰州</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					湖北
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/huangshi/number_count/" title="">黄石</a></li>
						<li><a href="http://127.0.0.1:8000/wh/number_count/" title="">武汉</a></li>
						<li><a href="http://127.0.0.1:8000/xy/number_count/" title="">襄阳</a></li>
						<li><a href="http://127.0.0.1:8000/yichang/number_count/" title="">宜昌</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					湖南
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/cs/number_count/" title="">长沙</a></li>
						<li><a href="http://127.0.0.1:8000/changde/number_count/" title="">常德</a></li>
						<li><a href="http://127.0.0.1:8000/yy/number_count/" title="">岳阳</a></li>
						<li><a href="http://127.0.0.1:8000/zhuzhou/number_count/" title="">株洲</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					河北
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/bd/number_count/" title="">保定</a></li>
						<li><a href="http://127.0.0.1:8000/lf/number_count/" title="">廊坊</a></li>
						<li><a href="http://127.0.0.1:8000/sjz/number_count/" title="">石家庄</a></li>
						<li><a href="http://127.0.0.1:8000/ts/number_count/" title="">唐山</a></li>
						<li><a href="http://127.0.0.1:8000/zjk/number_count/" title="">张家口</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					海南
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/hk/number_count/" title="">海口</a></li>
						<li><a href="http://127.0.0.1:8000/san/number_count/" title="">三亚</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					河南
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/kf/number_count/" title="">开封</a></li>
						<li><a href="http://127.0.0.1:8000/luoyang/number_count/" title="">洛阳</a></li>
						<li><a href="http://127.0.0.1:8000/xinxiang/number_count/" title="">新乡</a></li>
						<li><a href="http://127.0.0.1:8000/xc/number_count/" title="">许昌</a></li>
						<li><a href="http://127.0.0.1:8000/zz/number_count/" title="">郑州</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					黑龙江
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/hrb/number_count/" title="">哈尔滨</a></li>
						
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					江苏
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/changzhou/number_count/" title="">常州</a></li>
						<li><a href="http://127.0.0.1:8000/ha/number_count/" title="">淮安</a></li>
						<li><a href="http://127.0.0.1:8000/nj/number_count/" title="">南京</a></li>
						<li><a href="http://127.0.0.1:8000/nt/number_count/" title="">南通</a></li>
						<li><a href="http://127.0.0.1:8000/su/number_count/" title="">苏州</a></li>
						<li><a href="http://127.0.0.1:8000/wx/number_count/" title="">无锡</a></li>
						<li><a href="http://127.0.0.1:8000/xz/number_count/" title="">徐州</a></li>
						<li><a href="http://127.0.0.1:8000/yc/number_count/" title="">盐城</a></li>
						<li><a href="http://127.0.0.1:8000/zj/number_count/" title="">镇江</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					吉林
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/cc/number_count/" title="">长春</a></li>
						<li><a href="http://127.0.0.1:8000/jl/number_count/" title="">吉林</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					江西
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/jiujiang/number_count/" title="">九江</a></li>
						<li><a href="http://127.0.0.1:8000/jian/number_count/" title="">吉安</a></li>
						<li><a href="http://127.0.0.1:8000/nc/number_count/" title="">南昌</a></li>
						<li><a href="http://127.0.0.1:8000/sr/number_count/" title="">上饶</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					辽宁
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/dl/number_count/" title="">大连</a></li>
						<li><a href="http://127.0.0.1:8000/dd/number_count/" title="">丹东</a></li>
						<li><a href="http://127.0.0.1:8000/sy/number_count/" title="">沈阳</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					内蒙古
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/hhht/number_count/" title="">呼和浩特</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					宁夏
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/yinchuan/number_count/" title="">银川</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					上海
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/sh/number_count/" title="">上海</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					四川
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/cd/number_count/" title="">成都</a></li
						<li><a href="http://127.0.0.1:8000/dazhou/number_count/" title="">达州</a></li>
						<li><a href="http://127.0.0.1:8000/liangshan/number_count/" title="">凉山</a></li>
						<li><a href="http://127.0.0.1:8000/nanchong/number_count/" title="">南充</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					山东
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/jn/number_count/" title="">济南</a></li>
						<li><a href="http://127.0.0.1:8000/qd/number_count/" title="">青岛</a></li>
						<li><a href="http://127.0.0.1:8000/weihai/number_count/" title="">威海</a></li>
						<li><a href="http://127.0.0.1:8000/yt/number_count/" title="">烟台</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					陕西
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/baoji/number_count/" title="">宝鸡</a></li>
						<li><a href="http://127.0.0.1:8000/hanzhong/number_count/" title="">汉中</a></li>

						<li><a href="http://127.0.0.1:8000/xa/number_count/" title="">西安</a></li>
						<li><a href="http://127.0.0.1:8000/xianyang/number_count/" title="">咸阳</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					山西
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/ty/number_count/" title="">太原</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					天津
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/tj/number_count/" title="">天津</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					云南
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/km/number_count/" title="">昆明</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="province">
					浙江
				</div>
				<div class="cityitem">
					<ul>
						<li><a href="http://127.0.0.1:8000/hz/number_count/" title="">杭州</a></li>
						<li><a href="http://127.0.0.1:8000/huzhou/number_count/" title="">湖州</a></li>
						<li><a href="http://127.0.0.1:8000/jx/number_count/" title="">嘉兴</a></li>
						<li><a href="http://127.0.0.1:8000/jh/number_count/" title="">金华</a></li>
						<li><a href="http://127.0.0.1:8000/nb/number_count/" title="">宁波</a></li>
						<li><a href="http://127.0.0.1:8000/sx/number_count/" title="">绍兴</a></li>
						<li><a href="http://127.0.0.1:8000/taizhou/number_count/" title="">台州</a></li>
						<li><a href="http://127.0.0.1:8000/wz/number_count/" title="">温州</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>